body {
    margin: 0;
    padding: 0;
    background-color: gainsboro;
}

nav {
    border-bottom-width: 2px;
    border-bottom-color: #000;
    border-bottom-style: solid;
    padding: 20px;
    background-color: gray;
    margin-bottom: 15px;
}

div {
    border:  1px solid blue; 
    width: 80px; 
    height: 80px;
}

#initial {
cursor: initial;    
}

#inherit {
cursor: inherit;
}

#alias{
cursor: alias;
}

#all-scroll {
cursor: all-scroll;
}

#auto {
cursor: auto;
}

#cell {
cursor: cell;
}

#context-menu {
cursor: context-menu;
}

#col-resize {
cursor: col-resize;
}

#copy {
cursor: copy;
}

#crosshair {
cursor: crosshair;
}

#default {
cursor: default;
}

#e-resize {
cursor: e-resize;
}

#ew-resize {
cursor: ew-resize;
}

#grab {
cursor: grab;
}

#grabbing {
cursor: grabbing;
}

#help {
cursor: help;
}

#move {
cursor: move;
}

#n-resize {
cursor: n-resize;
}

#ne-resize {
cursor: ne-resize;
}

#ns-resize {
cursor: ns-resize;
}

#nwse-resize {
cursor: nwse-resize;
}

#no-drop {
cursor: no-drop;
}

#none {
cursor: none;
}

#not-allowed {
cursor: not-allowed;
}

#pointer {
cursor: pointer;
}

#progress {
cursor: progress;
}

#row-resize {
cursor: row-resize;
}

#s-resize {
cursor: s-resize;
}

#se-resize {
cursor: se-resize;
}

#sw-resize {
cursor: sw-resize;
}

#text {
cursor: text;
}

#vertical-tex {
cursor: vertical-text;
}

#w-resize {
cursor: w-resize;
}

#wait {
cursor: wait;
}

#zoom-in {
cursor: zoom-in;
}

#zoom-out {
cursor: zoom-out;
}

#custom {
    cursor: url("../img/cursor.png"), auto;
}