body {
    margin: 0;
    padding: 0;
    background-color: gainsboro;
}

nav {
    border-bottom-width: 2px;
    border-bottom-color: #000;
    border-bottom-style: solid;
    padding: 20px;
    background-color: gray;
}

#padding-test {
    border-width: 2px;
    border-color: red;
    border-style: solid;

    padding-top: 6px;
    padding-right: 0px;
    padding-bottom: 8px;
    padding-left: 9px;
}