body {
  margin: 0;
  padding: 0;
  background-color: rgb(20, 20, 20);
  font-family: 'Roboto', Arial, sans-serif;
}

nav {
  border-bottom-width: 2px;
  border-bottom-color: rgb(235, 102, 14);
  border-bottom-style: solid;
  padding: 10px;
  margin-bottom: 15px;
  background-color: rgb(12, 12, 12);
  color: rgb(235, 102, 14);
  font-family: 'Acme', cursive;
  position: fixed;
  width: 100%;
  z-index: 10; /* this is for layering elements, the higher the number, the more on top it will be */
}

#body {
  padding: 0 10px 20px;
  border: 2px dotted rgb(235, 102, 14);
  color: rgb(235, 102, 14);
  height: 1000px;
  padding-top: 50px;
}

#page-title {
  margin: 0 0 25px 0;
  padding: 0;
  border-bottom: 3px solid rgb(12, 12, 12);
  font-weight: 900;
  font-style: italic;
}

.fa-discord {
  font-size: 20px;
  margin-left: 5px;
}

.discord {
  color: #7289DA;
  text-decoration: none;
}

.discord:hover {
  color: rgb(62, 97, 224);
}

.discord:active {
  font-weight: bolder;
}

.rel1 {
    display: inline-block;
    border: 1px solid rgb(235, 102, 14);
    width: 100px;
    height: 100px;
    position: relative;
    bottom: 150px;
    left: 100px;
    background-color: rgb(12, 12, 12);
    text-align: center;
}

.rel2 {
    display: inline-block;
    border: 1px solid rgb(235, 102, 14);
    background-color: rgb(12, 12, 12);
    width: 400px;
    height: 400px;
    position: relative;
    left: 200px;
}

.abs {
    display: inline-block;
    border: 1px solid rgb(235, 102, 14);
    width: 100px;
    height: 100px;
    position: absolute;
    background-color: rgb(12, 12, 12);
    text-align: center; 
    top: 75px;
    left: 50%;
}